<div fxLayout>
  <div fxFlex>
    <h1>Álister Lopes Ferreira</h1>
  </div>
  <div fxFlex>
    <ul>
      <li>(11) 97983-7935</li>
      <li>alisterlf@gmail.com</li>
      <li>São Paulo - SP</li>
      <li>http://lnkd.in/3k8m6C</li>
      <li>21/02/1987</li>
    </ul>
  </div>
</div>
<hr>
<div fxLayout>
  <div fxFlex>
    <ul>
      <li>
        <i class="material-icons">school</i> Formação
        <ul>
          <li>Cursando o 7º semestre de Ciência da Computação pelo Centro Universitário Nove de Julho.</li>
        </ul>
      </li>
      <li>
        <i class="material-icons">star</i> Certiﬁcação
        <ul>
          <li>Microsoft - Programming in HTML5 with Javascript and CSS3 Specialist.</li>
        </ul>
      </li>
      <li>
        <i class="material-icons">computer</i> Competências e especialidades
        <ul>
          <li>Linguagens
            <ul>
              <li>HTML5</li>
              <li>CSS3</li>
              <li>Javascript(ES6)</li>
            </ul>
          </li>
          <li>Frameworks e bibliotecas
            <ul>
              <li>Angular (1.x e 2+)</li>
              <li>Bootstrap (2 e 3)</li>
              <li>RequireJS</li>
              <li>jQuery</li>
              <li>Knockout</li>
              <li>Templating Engines (Mustache e Handlebars)</li>
            </ul>
          </li>
          <li>Trabalho com
            <ul>
              <li>TypeScript</li>
              <li>SASS e LESS</li>
              <li>REST</li>
              <li>Node.js</li>
              <li>GIT, TFS e SVN</li>
              <li>NPM, Webpack, Bower, Gulp, Grunt</li>
              <li>C#.NET (Web Forms e MVC)</li>
              <li>Adobe Photoshop</li>
              <li>Visual Studio</li>
              <li>Visual Studio Code</li>
            </ul>
          </li>
          <li>Técnicas
            <ul>
              <li>Single Page Applications</li>
              <li>Responsive & Fluid Layout (FlexBox)</li>
              <li>Parallax</li>
              <li>Cross-browser Compatibility</li>
              <li>Web Standards</li>
              <li>Acessibilidade, SEO, WAI-ARIA e Microformats</li>
            </ul>
          </li>
          <li>Estou aprendendo
            <ul>
              <li>React</li>
              <li>Webpack</li>
              <li>CSS Grid layout</li>
              <li>Jasmine</li>
              <li>Karma</li>
              <li>Protractor</li>
            </ul>
          </li>
          <li>
            <i class="material-icons">translate</i> Idiomas
            <ul>
              <li>Português</li>
              <li>Nativo</li>
              <li>Inglês</li>
              <li>Avançado</li>
            </ul>
          </li>
        </ul>
    </ul>
  </div>
  <div fxFlex>
    <ul>
      <li>
        <i class="material-icons">history</i> Experiência Proﬁssional
        <ul>
          <li>Infracommerce.
            <ul>
              <li>Cargo: Desenvolvedor Javascript Sênior.</li>
              <li>Período: De 07/17 até atual.</li>
              <li>Descrição do cargo: Desenvolvimento e manutenção de uma plataforma B2C e B2B.</li>
            </ul>
          </li>
          <li>Mercado Eletrônico.
            <ul>
              <li>Cargo: Desenvolvedor Javascript Sênior.</li>
              <li>Período: De 06/15 até 04/17.</li>
              <li>Descrição do cargo: Desenvolvimento de uma plataforma B2B usando Angular 2 e Angular Material 2.</li>
            </ul>
          </li>
          <li>CTIS.
            <ul>
              <li>Cargo: Desenvolvedor Javascript Sênior.</li>
              <li>Período: De 12/14 até 04/15.</li>
              <li>Descrição do cargo: Desenvolvimento de aplicativos para Android utilizando a plataforma Cordova (HTML, CSS
                e Javascript). Com utilização do framework Angular 1.x.</li>
            </ul>
          </li>
          <li>Tesla Tecnologia.
            <ul>
              <li>Cargo: Desenvolvedor Front-end Sênior.</li>
              <li>Período: De 05/14 até 10/14.</li>
              <li>Descrição do cargo: Coordenação da equipe de front-end e desenvolvimentos dos projetos mais complexos da empresa,
                dentre eles o e-commerce da C&C.</li>
            </ul>
          </li>
          <li>RDI - Restaurant Application Development International LLC
            <ul>
              <li>Cargo: Programador Javascript Sênior.</li>
              <li>Período: De 01/14 até 05/14.</li>
              <li>Descrição do cargo: Prestação de serviço exclusivo para a empresa McDonald's no desenvolvimento e suporte de
                POS (point-of-sale) e software relacionados.</li>
            </ul>
          </li>
          <li>TaskRow e MarketUP
            <ul>
              <li>Cargo: Desenvolvedor Front-end Sênior.</li>
              <li>Período: De 06/13 até 11/13.</li>
              <li>Descrição do cargo: Startups parceiras. TaskRow (http://goo.gl/AjAKQj): Criação da interface do sistema de
                gerenciamento de agências (Single Page Application e layout responsivo). MarketUP (http://goo.gl/3XpfBL):
                Desenvolvimento de módulos de sistema ERP (Single Page Application).</li>
            </ul>
          </li>
          <li>Ag2 | Publicis Modem.
            <ul>
              <li>Cargo: Coordenador de Front-end.</li>
              <li>Período: De 07/12 até 06/13.</li>
              <li>Descrição do cargo: Coordenação da equipe de Interface, responsável pelo treinamento e controle de qualidade
                do código. Resposável pelo desenvolvimento dos projetos mais complexos da agência.</li>
            </ul>
          </li>
          <li>Tesla Tecnologia.
            <ul>
              <li>Cargo: Desenvolvedor Front-end Sênior.</li>
              <li>Período: De 07/09 até 07/12.</li>
              <li>Descrição do cargo: Líder técnico da equipe, responsável pelo treinamento e controle de qualidade do código.
                Desenvolvimento de novos projetos visando a integração das equipes front-end e back-end utilizando .NET para
                a diminuição de erros e retrabalhos.</li>
            </ul>
          </li>
          <li>Player Comunicação Digital.
            <ul>
              <li>Cargo: Desenvolvedor Front-end Junior.</li>
              <li>Período: De 04/08 até 07/09.</li>
              <li>Descrição do cargo: Responsável pelo desenvolvimento de email marketing, hotsites, sites institucionais, e
                e-commerces (Natura e Leroy Merlin).</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
