<header>
  <section fxLayout fxLayoutGap="20px">
    <div fxFlex="45%">
      <h1>{{resume.basics.name}}</h1>
      <h2 *ngIf="resume.basics.label">{{resume.basics.label}}</h2>
    </div>
    <div fxFlex>
      <ul>
        <li *ngIf="resume.basics.phone">
          <md-icon>phone</md-icon>
          <span>{{resume.basics.phone}}</span>
        </li>
        <li *ngIf="resume.basics.email">
          <md-icon>mail_outline</md-icon>
          <span>{{resume.basics.email}}</span>
        </li>
        <li *ngIf="resume.basics.location">
          <md-icon>home</md-icon>
          <span>{{resume.basics.location.city}} - {{resume.basics.location.region}}</span>
        </li>
        <li *ngIf="resume.basics.birthdate">
          <md-icon>cake</md-icon>
          <span>{{resume.basics.birthdate | amDateFormat:'DD/MM/YYYY'}}</span>
        </li>
        <li *ngIf="resume.basics.url">
          <md-icon>link</md-icon>
          <span class="url"><a [href]="resume.basics.url" target="_blank">{{resume.basics.url}}</a></span>
        </li>
        <li *ngFor="let profile of resume.basics.profiles">
          <md-icon [title]="profile.network">link</md-icon>
          <span class="url">
            {{profile.network}}: <a [href]="profile.url" target="_blank" *ngIf="profile.url">{{profile.url}}</a><span *ngIf="!profile.url">profile.username</span>
          </span>
        </li>
      </ul>
    </div>
  </section>
  <section *ngIf="resume.basics.summary">
    <h3>Sobre</h3>
    <p>{{resume.basics.summary}}</p>
  </section>
</header>
<main>
  <section fxLayout fxLayoutGap="20px">
    <div fxFlex="45%">
      <dl class="category-list">
        <ng-template [ngIf]="resume.education">
          <dt>
            <md-icon>school</md-icon>
            <span>Formação</span>
          </dt>
          <dd>
            <ul>
              <li *ngFor="let education of resume.education">
                <ul>
                  <li *ngIf="education.institution"><strong>Instituição: </strong>{{education.institution}}</li>
                  <li *ngIf="education.area"><strong>Formação: </strong>{{education.area}}</li>
                  <li *ngIf="education.studyType"><strong>Titulação: </strong>{{education.studyType}}</li>
                  <li *ngIf="education.startDate"><strong>Início: </strong>{{education.startDate | amDateFormat:'MMM/YYYY'}}</li>
                  <li *ngIf="education.endDate"><strong>Término: </strong>{{education.endDate | amDateFormat:'MMM/YYYY'}}</li>
                  <li *ngIf="education.gpa"><strong>Média: </strong>{{education.gpa}}</li>
                  <li *ngIf="education.courses">
                    <strong>Cursos: </strong>
                    <ul class="styled" *ngIf="education.courses">
                      <li *ngFor="let course of education.courses">{{course}}</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </dd>
        </ng-template>
        <ng-template [ngIf]="resume.awards">
          <dt>
            <md-icon>star</md-icon>
            <span>Certificação</span>
          </dt>
          <dd>
            <ul>
              <li *ngFor="let award of resume.awards">
                <ul>
                  <li *ngIf="award.title"><strong>Título: </strong>{{award.title}}</li>
                  <li *ngIf="award.date"><strong>Data: </strong>{{award.date | amDateFormat:'DD/MM/YYYY'}}</li>
                  <li *ngIf="award.awarder"><strong>Instituição: </strong>{{award.awarder}}</li>
                  <li *ngIf="award.summary"><strong>Resumo: </strong>{{award.summary}}</li>
                </ul>
              </li>
            </ul>
          </dd>
        </ng-template>
        <ng-template [ngIf]="resume.skills">
          <dt>
            <md-icon>computer</md-icon>
            <span>Competências e especialidades</span>
          </dt>
          <dd>
            <dl>
              <ng-template ngFor let-skill [ngForOf]="resume.skills">
                <dt>{{skill.name}}</dt>
                <dd>
                  <ul>
                    <li *ngFor="let keyword of skill.keywords">{{keyword}}</li>
                  </ul>
                </dd>
              </ng-template>
            </dl>
          </dd>
        </ng-template>
        <ng-template [ngIf]="resume.languages">
          <dt>
            <md-icon>translate</md-icon>
            <span>Idiomas</span>
          </dt>
          <dd>
            <dl>
              <ng-template ngFor let-language [ngForOf]="resume.languages">
                <dt>{{language.language}}</dt>
                <dd>{{language.fluency}}</dd>
              </ng-template>
            </dl>
          </dd>
        </ng-template>
        <ng-template [ngIf]="resume.projects">
          <dt>
            <md-icon>developer_board</md-icon>
            <span>Projetos</span>
          </dt>
          <dd>
            <dl class="work-list">
              <ng-template ngFor let-project [ngForOf]="resume.projects">
                <dt>
                  {{project.name}}
                  <em>
                      {{project.startDate | amLocale:'pt-br' | amDateFormat:'MMM/YYYY'}} - {{project.endDate?(project.endDate | amLocale:'pt-br' | amDateFormat:'MMM/YYYY'):'atual'}}
                  </em>
                </dt>
                <dd>
                  <ul>
                    <li class="header" *ngIf="project.entity"><strong>{{project.entity}}</strong></li>
                    <li class="header" *ngIf="project.url"><a [href]="project.url" target="_blank" class="url">{{project.url}}</a></li>
                    <li class="header">
                      <hr>
                    </li>
                    <li>
                      {{project.description}}
                      <ul class="styled" *ngIf="project.highlights">
                        <li *ngFor="let highlight of project.highlights">{{highlight}}</li>
                      </ul>
                    </li>
                    <li *ngIf="project.roles">
                      <strong>Funções:</strong>
                      <ul class="styled">
                        <li *ngFor="let role of project.roles">{{role}}</li>
                      </ul>
                    </li>
                  </ul>
                </dd>
              </ng-template>
            </dl>
          </dd>
        </ng-template>
        <ng-template [ngIf]="resume.publications">
          <dt>
            <md-icon>local_library</md-icon>
            <span>Publicações</span>
          </dt>
          <dd>
            <dl>
              <ng-template ngFor let-publication [ngForOf]="resume.publications">
                <dt>{{publication.name}} <em>{{publication.releaseDate | amLocale:'pt-br' | amDateFormat:'MMM/YYYY'}}</em></dt>
                <dd>
                  <ul>
                    <li class="header">{{publication.publisher}}</li>
                    <li class="header"><a [href]="publication.url" target="_blank" class="url">{{publication.url}}</a></li>
                    <li class="header">
                      <hr>
                    </li>
                    <li>{{publication.summary}}</li>
                  </ul>
                </dd>
              </ng-template>
            </dl>
          </dd>
        </ng-template>
        <ng-template [ngIf]="resume.references">
          <dt>
            <md-icon>speaker_notes</md-icon>
            <span>Recomendações</span>
          </dt>
          <dd>
            <dl>
              <ng-template ngFor let-reference [ngForOf]="resume.references">
                <dt>{{reference.name}}</dt>
                <dd>{{reference.reference}}</dd>
              </ng-template>
            </dl>
          </dd>
        </ng-template>
      </dl>
    </div>
    <div fxFlex>
      <dl class="category-list">
        <ng-template [ngIf]="resume.work">
          <dt>
            <md-icon>history</md-icon>
            <span>Experiência profissional</span>
          </dt>
          <dd>
            <dl class="work-list">
              <ng-template ngFor let-work [ngForOf]="resume.work">
                <dt>
                  {{work.name}}
                  <em>{{work.startDate | amLocale:'pt-br' | amDateFormat:'MMM/YYYY'}} - {{work.endDate?(work.endDate | amLocale:'pt-br' | amDateFormat:'MMM/YYYY'):'atual'}}</em>
                </dt>
                <dd>
                  <ul>
                    <li class="header" *ngIf="work.url"><a [href]="work.url" target="_blank" class="url">{{work.url}}</a></li>
                    <li class="header" *ngIf="work.description">{{work.description}}</li>
                    <li class="header">
                      <hr>
                    </li>
                    <li *ngIf="work.position"><strong>{{work.position}}</strong></li>
                    <li *ngIf="work.summary || work.highlights">
                      {{work.summary}}
                      <ul class="styled" *ngIf="work.highlights">
                        <li *ngFor="let highlight of work.highlights">{{highlight}}</li>
                      </ul>
                    </li>
                  </ul>
                </dd>
              </ng-template>
            </dl>
          </dd>
        </ng-template>
        <ng-template [ngIf]="resume.volunteer">
          <dt>
            <md-icon>accessibility</md-icon>
            <span>Trabalho Voluntário</span>
          </dt>
          <dd>
            <dl class="volunteer-list">
              <ng-template ngFor let-volunteer [ngForOf]="resume.volunteer">
                <dt>
                  {{volunteer.organization}}
                  <em>{{volunteer.startDate | amLocale:'pt-br' | amDateFormat:'MMM/YYYY'}} - {{volunteer.endDate?(volunteer.endDate | amLocale:'pt-br' | amDateFormat:'MMM/YYYY'):'atual'}}</em>
                </dt>
                <dd>
                  <ul>
                    <li class="header" *ngIf="volunteer.url"><a [href]="volunteer.url" target="_blank" class="url">{{volunteer.url}}</a></li>
                    <li class="header" *ngIf="volunteer.description">{{volunteer.description}}</li>
                    <li class="header">
                      <hr>
                    </li>
                    <li><strong>{{volunteer.position}}</strong></li>
                    <li>
                      {{volunteer.summary}}
                      <ul class="styled" *ngIf="volunteer.highlights">
                        <li *ngFor="let highlight of volunteer.highlights">{{highlight}}</li>
                      </ul>
                    </li>
                  </ul>
                </dd>
              </ng-template>
            </dl>
          </dd>
        </ng-template>
      </dl>
    </div>
  </section>
</main>
<footer *ngIf="resume.interests">
  <dl>
    <dt>
      <md-icon>favorite</md-icon>
      <span>Interesses</span>
    </dt>
    <dd>
      <dl>
        <ng-template ngFor let-interest [ngForOf]="resume.interests">
          <dt>{{interest.name}}</dt>
          <dd>
            <ul>
              <li *ngFor="let keyword of interest.keywords">{{keyword}}</li>
            </ul>
          </dd>
        </ng-template>
      </dl>
    </dd>
  </dl>
</footer>
