<header>
  <section fxLayout fxLayoutGap="20px">
    <div fxFlex="45%">
      <h1>{{resume.basics.name}}</h1>
      <h2 *ngIf="resume.basics.label">{{resume.basics.label}}</h2>
    </div>
    <div fxFlex>
      <ul>
        <li *ngIf="resume.basics.phone">
          <md-icon>phone</md-icon>
          <span>{{resume.basics.phone}}</span>
        </li>
        <li *ngIf="resume.basics.email">
          <md-icon>mail_outline</md-icon>
          <span>{{resume.basics.email}}</span>
        </li>
        <li *ngIf="resume.basics.location">
          <md-icon>home</md-icon>
          <span>{{resume.basics.location.city}} - {{resume.basics.location.region}}</span>
        </li>
        <li *ngIf="resume.basics.birthdate">
          <md-icon>cake</md-icon>
          <span>{{resume.basics.birthdate | amDateFormat:i18n.dateFormat}}</span>
        </li>
        <li *ngIf="resume.basics.url">
          <md-icon>link</md-icon>
          <span class="url"><a [href]="resume.basics.url" target="_blank">{{resume.basics.url}}</a></span>
        </li>
        <li *ngFor="let profile of resume.basics.profiles">
          <md-icon [title]="profile.network">link</md-icon>
          <span class="url">
            {{profile.network}}: <a [href]="profile.url" target="_blank" *ngIf="profile.url">{{profile.url}}</a><span *ngIf="!profile.url">profile.username</span>
          </span>
        </li>
      </ul>
    </div>
  </section>
  <section *ngIf="resume.basics.summary">
    <h3>{{i18n.summary}}</h3>
    <p>{{resume.basics.summary}}</p>
  </section>
</header>
<main>
  <section fxLayout fxLayoutGap="20px">
    <div fxFlex="45%">
      <dl class="category-list">
        <ng-template [ngIf]="resume.education">
          <dt>
            <md-icon>school</md-icon>
            <span>{{i18n.education.header}}</span>
          </dt>
          <dd>
            <ul>
              <li *ngFor="let education of resume.education">
                <ul>
                  <li *ngIf="education.institution"><strong>{{i18n.education.institution}}: </strong>{{education.institution}}</li>
                  <li *ngIf="education.area"><strong>{{i18n.education.area}}: </strong>{{education.area}}</li>
                  <li *ngIf="education.studyType"><strong>{{i18n.education.studyType}}: </strong>{{education.studyType}}</li>
                  <li *ngIf="education.startDate"><strong>{{i18n.education.startDate}}: </strong>{{education.startDate | amDateFormat:i18n.shortDateFormat}}</li>
                  <li *ngIf="education.endDate"><strong>{{i18n.education.endDate}}: </strong>{{education.endDate | amDateFormat:i18n.shortDateFormat}}</li>
                  <li *ngIf="education.gpa"><strong>{{i18n.education.gpa}}: a </strong>{{education.gpa}}</li>
                  <li *ngIf="education.courses">
                    <strong>{{i18n.education.courses}}: </strong>
                    <ul class="styled" *ngIf="education.courses">
                      <li *ngFor="let course of education.courses">{{course}}</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </dd>
        </ng-template>
        <ng-template [ngIf]="resume.awards">
          <dt>
            <md-icon>star</md-icon>
            <span>{{i18n.awards.header}}</span>
          </dt>
          <dd>
            <ul>
              <li *ngFor="let award of resume.awards">
                <ul>
                  <li *ngIf="award.title"><strong>{{i18n.awards.title}}: </strong>{{award.title}}</li>
                  <li *ngIf="award.date"><strong>{{i18n.awards.date}}: </strong>{{award.date | amDateFormat:i18n.dateFormat}}</li>
                  <li *ngIf="award.awarder"><strong>{{i18n.awards.awarder}}: </strong>{{award.awarder}}</li>
                  <li *ngIf="award.summary"><strong>{{i18n.awards.summary}}: </strong>{{award.summary}}</li>
                </ul>
              </li>
            </ul>
          </dd>
        </ng-template>
        <ng-template [ngIf]="resume.skills">
          <dt>
            <md-icon>computer</md-icon>
            <span>{{i18n.skills}}</span>
          </dt>
          <dd>
            <dl>
              <ng-template ngFor let-skill [ngForOf]="resume.skills">
                <dt>{{skill.name}}</dt>
                <dd>
                  <ul>
                    <li *ngFor="let keyword of skill.keywords">{{keyword}}</li>
                  </ul>
                </dd>
              </ng-template>
            </dl>
          </dd>
        </ng-template>
        <ng-template [ngIf]="resume.languages">
          <dt>
            <md-icon>translate</md-icon>
            <span>{{i18n.languages}}</span>
          </dt>
          <dd>
            <dl>
              <ng-template ngFor let-language [ngForOf]="resume.languages">
                <dt>{{language.language}}</dt>
                <dd>{{language.fluency}}</dd>
              </ng-template>
            </dl>
          </dd>
        </ng-template>
        <ng-template [ngIf]="resume.projects">
          <dt>
            <md-icon>developer_board</md-icon>
            <span>{{i18n.projects.header}}</span>
          </dt>
          <dd>
            <dl class="work-list">
              <ng-template ngFor let-project [ngForOf]="resume.projects">
                <dt>
                  {{project.name}}
                  <em>
                      {{project.startDate | amLocale:i18n.langCode | amDateFormat:i18n.shortDateFormat}} - {{project.endDate?(project.endDate | amLocale:i18n.langCode | amDateFormat:i18n.shortDateFormat):i18n.projects.now}}
                  </em>
                </dt>
                <dd>
                  <ul>
                    <li class="header" *ngIf="project.entity"><strong>{{project.entity}}</strong></li>
                    <li class="header" *ngIf="project.url"><a [href]="project.url" target="_blank" class="url">{{project.url}}</a></li>
                    <li class="header">
                      <hr>
                    </li>
                    <li>
                      {{project.description}}
                      <ul class="styled" *ngIf="project.highlights">
                        <li *ngFor="let highlight of project.highlights">{{highlight}}</li>
                      </ul>
                    </li>
                    <li *ngIf="project.roles">
                      <strong>{{i18n.projects.roles}}:</strong>
                      <ul class="styled">
                        <li *ngFor="let role of project.roles">{{role}}</li>
                      </ul>
                    </li>
                  </ul>
                </dd>
              </ng-template>
            </dl>
          </dd>
        </ng-template>
        <ng-template [ngIf]="resume.publications">
          <dt>
            <md-icon>local_library</md-icon>
            <span>{{i18n.publications}}</span>
          </dt>
          <dd>
            <dl>
              <ng-template ngFor let-publication [ngForOf]="resume.publications">
                <dt>{{publication.name}} <em>{{publication.releaseDate | amLocale:i18n.langCode | amDateFormat:i18n.shortDateFormat}}</em></dt>
                <dd>
                  <ul>
                    <li class="header">{{publication.publisher}}</li>
                    <li class="header"><a [href]="publication.url" target="_blank" class="url">{{publication.url}}</a></li>
                    <li class="header">
                      <hr>
                    </li>
                    <li>{{publication.summary}}</li>
                  </ul>
                </dd>
              </ng-template>
            </dl>
          </dd>
        </ng-template>
        <ng-template [ngIf]="resume.references">
          <dt>
            <md-icon>speaker_notes</md-icon>
            <span>{{i18n.references}}</span>
          </dt>
          <dd>
            <dl>
              <ng-template ngFor let-reference [ngForOf]="resume.references">
                <dt>{{reference.name}}</dt>
                <dd>{{reference.reference}}</dd>
              </ng-template>
            </dl>
          </dd>
        </ng-template>
      </dl>
    </div>
    <div fxFlex>
      <dl class="category-list">
        <ng-template [ngIf]="resume.work">
          <dt>
            <md-icon>history</md-icon>
            <span>{{i18n.work}}</span>
          </dt>
          <dd>
            <dl class="work-list">
              <ng-template ngFor let-work [ngForOf]="resume.work">
                <dt>
                  {{work.name}}
                  <em>{{work.startDate | amLocale:i18n.langCode | amDateFormat:i18n.shortDateFormat}} - {{work.endDate?(work.endDate | amLocale:i18n.langCode | amDateFormat:i18n.shortDateFormat):i18n.projects.now}}</em>
                </dt>
                <dd>
                  <ul>
                    <li class="header" *ngIf="work.url"><a [href]="work.url" target="_blank" class="url">{{work.url}}</a></li>
                    <li class="header" *ngIf="work.description">{{work.description}}</li>
                    <li class="header">
                      <hr>
                    </li>
                    <li *ngIf="work.position"><strong>{{work.position}}</strong></li>
                    <li *ngIf="work.summary || work.highlights">
                      {{work.summary}}
                      <ul class="styled" *ngIf="work.highlights">
                        <li *ngFor="let highlight of work.highlights">{{highlight}}</li>
                      </ul>
                    </li>
                  </ul>
                </dd>
              </ng-template>
            </dl>
          </dd>
        </ng-template>
        <ng-template [ngIf]="resume.volunteer">
          <dt>
            <md-icon>accessibility</md-icon>
            <span>{{i18n.volunteer}}</span>
          </dt>
          <dd>
            <dl class="volunteer-list">
              <ng-template ngFor let-volunteer [ngForOf]="resume.volunteer">
                <dt>
                  {{volunteer.organization}}
                  <em>{{volunteer.startDate | amLocale:i18n.langCode | amDateFormat:i18n.shortDateFormat}} - {{volunteer.endDate?(volunteer.endDate | amLocale:i18n.langCode | amDateFormat:i18n.shortDateFormat):i18n.projects.now}}</em>
                </dt>
                <dd>
                  <ul>
                    <li class="header" *ngIf="volunteer.url"><a [href]="volunteer.url" target="_blank" class="url">{{volunteer.url}}</a></li>
                    <li class="header" *ngIf="volunteer.description">{{volunteer.description}}</li>
                    <li class="header">
                      <hr>
                    </li>
                    <li><strong>{{volunteer.position}}</strong></li>
                    <li>
                      {{volunteer.summary}}
                      <ul class="styled" *ngIf="volunteer.highlights">
                        <li *ngFor="let highlight of volunteer.highlights">{{highlight}}</li>
                      </ul>
                    </li>
                  </ul>
                </dd>
              </ng-template>
            </dl>
          </dd>
        </ng-template>
      </dl>
    </div>
  </section>
</main>
<footer *ngIf="resume.interests">
  <dl>
    <dt>
      <md-icon>favorite</md-icon>
      <span>{{i18n.interests}}</span>
    </dt>
    <dd>
      <dl>
        <ng-template ngFor let-interest [ngForOf]="resume.interests">
          <dt>{{interest.name}}</dt>
          <dd>
            <ul>
              <li *ngFor="let keyword of interest.keywords">{{keyword}}</li>
            </ul>
          </dd>
        </ng-template>
      </dl>
    </dd>
  </dl>
</footer>
